{
  "AWS_REGION": "",
  "BASE_URL": "",
  "DYNAMODB_LOCAL_ENDPOINT": "http://localhost:8002",
  "DYNAMODB_LOCAL_ACCESS_KEY_ID": "test",
  "DYNAMODB_LOCAL_SECRET_ACCESS_KEY": "test",
  "DYNAMODB_LOCAL_STAGE": "dev",
  "INTERNAL_ACCESS_KEY": "",
  "AUTH0_CLIENT_ID": "",
  "AUTH0_CLIENT_PUBLIC_KEY_URL": "",
  "TABLE_THROUGHPUTS": {
    "PROD": 5,
    "DEFAULT": 1
  }
}
